body {
  background: linear-gradient(135deg, #d8b4fe, #a78bfa);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  color: #4c1d95;
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.add-btn {
  width: 100%;
  background: #7c3aed;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.add-btn:hover {
  background: #6d28d9;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  text-align: left;
}

.todo-item {
  background-color: #f3e8ff;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item p {
  font-size: 0.9rem;
  color: #4b5563;
  margin: 3px 0 0;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #dc2626;
}